@font-face {
    font-family: Pokemon;
    src: url(./components/fonts/pokemon/Pokemon\ Hollow.ttf);
}

:root {
    --yellow: rgb(255, 217, 0);
    --blue: rgb(37, 90, 182);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--yellow);
}
header {
    background-color: white;
    height: 15%;
}

header img {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

main {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

section h1 {
    font-family: Pokemon;
    color: var(--blue);
    text-align: center;
    margin: 0.5rem 0 0 0;
}

section p {
    color: var(--blue);
    text-align: center;
    margin-top: 0;
}

.pokeball {
    max-width: 50%;
    cursor: pointer;
    /* margin: 0 auto; */
}

.pokeball:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.pokeball-container {
    /* margin: 0 auto; */
    display: grid;
    justify-items: center;
    align-items: stretch;
}

.pokeball-container p {
    font-size: 12px;
    gap: 1rem;
}

.welcome-container {
    margin-left: 3rem;
    width: 50%;
}

.pokemon-card-container {
    width: 27vw;
    height: 50vh;
    background-color: silver;
    border-radius: 6px;
    padding: 0.4rem;
}

.pokemon-card {
    background-color: green;
    width: 100%;
    height: 95%;
    /* padding: 0.4rem; */
    border-radius: 35px 0 35px 0;
}

.top-section {
    display: flex;
    justify-content: space-between;
    height: 10%;
    float: right;
    width: 90%;
    align-items: center;
}

.top-section p {
    font-size: 1.5vw;
}

.poke-name {
 
}

.poke-hp {

}

.type-icon {
    float: right;
    width: 15%;
}

.top-section p {
    font-family: "Puritan", sans-serif;
    font-weight: 400;
}

.img-section {
    display: flex;
    justify-content: center;
    width: 90%;
    border: 2px solid silver;
    height: 40%;
    margin: 0 auto;
    border-radius: 0.3rem
    /* max-width: 70%; */
}



.middle-section {
    display: flex;
    font-size: 1vw;
    justify-content: center;
    background-color: silver;
    width: 95%;
    height: 5%;
    gap: 1.5vw;
    align-items: center;
    border-radius: 1rem;
}


