@font-face {
    font-family: Pokemon;
    src: url(./components/fonts/pokemon/Pokemon\ Hollow.ttf);
}

:root {
    --yellow: rgb(255, 217, 0);
    --blue: rgb(37, 90, 182);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--yellow);
}
header {
    background-color: white;
    height: 15%;
}

header img {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

main {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

section h1 {
    font-family: Pokemon;
    color: var(--blue);
    text-align: center;
    margin: 0.5rem 0 0 0;
}

section p {
    color: var(--blue);
    text-align: center;
    margin-top: 0;
}

.pokeball {
    max-width: 50%;
    cursor: pointer;
    /* margin: 0 auto; */
}

.pokeball:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.pokeball-container {
    /* margin: 0 auto; */
    display: grid;
    justify-items: center;
    align-items: stretch;
}

.pokeball-container p {
    font-size: 12px;
    gap: 1rem;
}

.welcome-container {
    margin-left: 3rem;
    width: 50%;
}

.pokemon-card-container {
    width: 27vw;
    height: 50vh;
    background-color: silver;
    border-radius: 6px;
    padding: 0.4rem;
}

.pokemon-card {
    background-color: green;
    width: 27vw;
    height: 50vh;
    border-radius: 6px;

}

.top-section {
    display: flex;
    justify-content: space-around;
}

.top-section p {
    font-size: 1vw;
    margin-top: 0.2rem;
}

.middle-section {
    display: flex;
    justify-content: center;
}

.middle-section img {
    max-width: 70%;

}